<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <a href="/post/{{id}}" class="card-link">
            <h2>{{title}}</h2>
        </a>
        <h5> Posted by {{user.name}} on {{format_date date_created}}</h5>

    </div>

    <div class="card-body">
        <p>{{content}}</p>
    </div>

    {{!-- <div class="card-footer">
        <h6> Column1: Comment Count</h6>
    </div> --}}
    {{!-- <div class="columns">
        <div class="column button .is-dark">
            Column2: Share Option
        </div>
    </div> --}}
    <div id="fb-root card-footer"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your share button code -->
    <div class="fb-share-button" data-href="https://kitchenblogger.herokuapp.com/" data-layout="button_count">
    </div>
    {{#each comments as |comment|}}
    <div class="media ml-4 mb-4">
        <div class="media-body text-right">
            <h6 class="mr-3">Comment posted by {{user.name}} on {{format_date created_at}}</h6>
            <h5 class="mt-0 mr-3">{{comment.comment}}</h5>
        </div>
    </div>
    {{/each}}

</div>